<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row class="ion-align-items-center">
        <ion-col size="1">
          <ion-img class="displayed"  src="assets/bsu_logo.png" alt="Logo" ></ion-img>
        </ion-col>

        <ion-col size="1" class="title-col">
          Batangas State University - TNEU
        </ion-col>


        <ion-col size="1" >
          <ion-img class="displayed2"  src="assets/the_mind_logo.png" alt="Logo" ></ion-img>
        </ion-col>
      </ion-row>





    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

</ion-content>
