<style>
    :host {
      --background:url('/assets/home.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<ion-header >
  
    <ion-title>
      <div class="toolbar" role="banner">
        <img
          width="40"
          alt="Angular Logo"
          src="/assets/logo1.png"
        />

        <span class="mind1">BATANGAS STATE UNIVERSITY<br>MENTAL HEALTH ASSESSMENT APPLICATION</span>
          <div class="spacer"></div>
          
          <span class="mind1"></span>
          <img
          width="80"
          alt="Angular Logo"
          src="/assets/logo2.png"
        />
        
      </div>
      
    </ion-title>

</ion-header>

<ion-content >
  <div class="spacer"></div><br><br>
  <div class="content"></div>


      <ion-row>
        <ion-col size="12" class="button">
          <ion-button color="primary" expand="round" routerLink="/terms-and-condition">Take Assessment</ion-button>
        </ion-col>
      </ion-row>
   

    
  </ion-content>

  
  
  
  
  
