<ion-header >
  
  <ion-title>
    <div class="toolbar" role="banner">
      <img
        width="40"
        alt="Angular Logo"
        src="/assets/logo1.png"
      />

      <span class="mind1">BATANGAS STATE UNIVERSITY<br>MENTAL HEALTH ASSESSMENT APPLICATION</span>
        <div class="spacer"></div>
        
        <span class="mind1">In Partnership With</span>
        <img
        width="80"
        alt="Angular Logo"
        src="/assets/logo2.png"
      />
      
    </div>
    </ion-title>
    </ion-header>



<ion-content>
  <div class="spacer"></div>
  <div class="content"></div>
  <ion-list>
  <ion-card>
    
    <ion-radio-group value="start" [(ngModel)]="answers.question1">
      <ion-list-header>
    <ion-label>Question 1:</ion-label>
        </ion-list-header>
      <ion-item>
          <ion-label>0</ion-label>
          <ion-radio value="0"></ion-radio>
      <div class="spacer"></div>
          <ion-label>1</ion-label>
          <ion-radio value="1"></ion-radio>
      <div class="spacer"></div>
          <ion-label>2</ion-label>
          <ion-radio value="2"></ion-radio>
      <div class="spacer"></div>
          <ion-label>3</ion-label>
          <ion-radio value="3"></ion-radio>

      </ion-item>
    </ion-radio-group>
 
  <ion-radio-group [(ngModel)]="answers.question2">
    <ion-list-header>
      <ion-label>Question 2:</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>0</ion-label>
      <ion-radio value="0"></ion-radio>
      <div class="spacer"></div>
      <ion-label>1</ion-label>
      <ion-radio value="1"></ion-radio>
      <div class="spacer"></div>
      <ion-label>2</ion-label>
      <ion-radio value="2"></ion-radio>
      <div class="spacer"></div>
      <ion-label>3</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
  </ion-radio-group>
   <ion-radio-group [(ngModel)]="answers.question3">
      <ion-list-header>
        <ion-label>Question 2:</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>0</ion-label>
        <ion-radio value="0"></ion-radio>
        <div class="spacer"></div>
        <ion-label>1</ion-label>
        <ion-radio value="1"></ion-radio>
        <div class="spacer"></div>
        <ion-label>2</ion-label>
        <ion-radio value="2"></ion-radio>
        <div class="spacer"></div>
        <ion-label>3</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>
    </ion-radio-group>
    </ion-card>
    </ion-list>
  
   

    </ion-content>
    