<ion-header >

  <ion-title>
    <div class="toolbar" role="banner">
      <img
        width="40"
        alt="Logo"
        src="/assets/logo1.png"
      />

      <span class="mind1" >BATANGAS STATE UNIVERSITY<br>MENTAL HEALTH ASSESSMENT APPLICATION</span>
        <div class="spacer"></div>
        
        <span class="mind1"></span>
        <img
        width="80"
        alt="Logo"
        src="/assets/logo2.png"
      />
    </div>
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="spacer"></div>
  <div class="content"></div>
    <ion-card>
      <h2>Terms and Condition</h2>
      <p>Please read these Terms and Conditions ("Terms") carefully before using the Batangas State University Mental Health Assessment Application. These Terms apply to all users of the Application.
      </p>
      <p>
        By accessing or using the Application, you agree to be bound by these Terms. If you disagree with any part of the Terms, then you may not access or use the Application.

Use of the Application
The Application is intended for use by Batangas State University students for the purpose of mental health assessment and support. You must be a current BatStateU student to access and use the Application.
<br>
The information provided by the Application is for educational and informational purposes only. It is not intended to replace professional mental health advice, diagnosis, or treatment. Always seek the advice of a qualified mental health professional regarding any questions or concerns you may have about your mental health.
<br>
You agree to use the Application responsibly and in compliance with all applicable laws, regulations, and guidelines. You shall not use the Application for any illegal, unauthorized, or unethical purposes.
<br>
The Application may collect and process personal data as outlined in our Privacy Policy. By using the Application, you consent to the collection, storage, and processing of your personal data in accordance with our Privacy Policy.
<br>
Intellectual Property
The Application and all its content, including but not limited to text, graphics, images, logos, and software, are the intellectual property of Batangas State University and protected by intellectual property laws. You may not modify, reproduce, distribute, or exploit any part of the Application without prior written permission from BatStateU.
<br>
The name and logo of Batangas State University are trademarks owned by BatStateU. You may not use these trademarks without our prior written permission.
<br>
Limitation of Liability
The Application is provided on an "as-is" basis, and Batangas State University makes no representations or warranties of any kind, whether express or implied, regarding the accuracy, reliability, or availability of the Application.
<br>
In no event shall Batangas State University be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of the Application, including but not limited to damages for loss of profits, data, or other intangible losses.
<br>
Modifications to the Terms
Batangas State University reserves the right to modify or replace these Terms at any time. We will provide notice of any material changes to the Terms by posting an updated version on the Application or by sending a notification to your registered email address. Your continued use of the Application after the effective date of any changes constitutes your acceptance of the modified Terms.

      </p>
      
      <br><br>
      <ion-button color="primary" shape="round" routerLink="/login">Agree</ion-button>
    </ion-card>